<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsm8wd29DL6lLIE2W36pGkWq6cx4tD9mw</string>
	<key>GCM_SENDER_ID</key>
	<string>806691927123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yerassyl.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>messageapp-76f75</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-76f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806691927123:ios:0b0a5f5986fbf6b32a42a6</string>
</dict>
</plist>